In [1]:
import pandas as pd
import sqlite3 as db
import xlwings as xw

In [2]:
conn = db.connect('contributions.db')
c = conn.cursor()

In [3]:
def upload_to_sql(xl_name, r1_r2, cand_name, office, district, db_file):
    ws = xw.Book(xl_name + '.xls').sheets[xl_name]
    table = ws.range(r1_r2).value
    table = pd.DataFrame(table, columns=table[0])
    table.drop([0], inplace=True)
    table['Candidate Name'] = f'{cand_name}'
    table['Office'] = f'{office}'
    table['Councilmanic District'] = f'{district}'
    table = table.to_sql(db_file, conn, if_exists = 'append')

In [26]:
upload_to_sql('ContributionsList16', 'A1:L2975', 'Allan Kitttleman', 'County Executive', 'County Executive', 'allan_kittleman_ce')

In [22]:
upload_to_sql('ContributionsList (3)', 'A1:L206', 'Liz Walsh', 'County Council', 'District 1', 'liz_walsh_d1')

In [25]:
upload_to_sql('ContributionsList (4)', 'A1:L379', 'Opel Jones', 'County Council', 'District 2', 'opel_jones_d2')

In [27]:
upload_to_sql('ContributionsList5', 'A1:L209', 'Neveen Kurtom', 'County Council', 'District 1', 'neveen_kurtom_d1')

In [45]:
upload_to_sql('ContributionsList (3)','A1:L2187', 'Courtney Watson', 'County Executive', 'County Executive', 'courtney_watson_ce' )

In [52]:
table = pd.read_sql_query('select * from liz_walsh_d1',conn)

In [54]:
table['Contribution Date'] = pd.to_datetime(table['Contribution Date']).dt.date
table['Contribution Amount'] = table['Contribution Amount'].astype(float)
table = table.drop(columns='index')

In [61]:
grouped = table.set_index(['Filing Period' , 'Receiving Committee'])

In [63]:
grouped=grouped.groupby(level=[0,1]).sum().unstack()

In [67]:
grouped.columns=['Liz Walsh 1' , 'Liz Walsh 2']

In [68]:
grouped

                                         Liz Walsh 1  Liz Walsh 2
Filing Period
2018 Gubernatorial Post-General              7052.43          NaN
2018 Gubernatorial Pre-General1 Report       4940.13          NaN
2018 Gubernatorial Pre-General2 Report      12644.39          NaN
2018 Gubernatorial Pre-Primary1              3717.87          NaN
2018 Gubernatorial Pre-Primary2              1362.55          NaN
2018 Gubernatorial Spring Report             5698.72          NaN
2019 Annual                                   312.00          NaN
2020 Annual                                   112.00          NaN
2022 Annual                                   493.00          NaN
2022 Gubernatorial Matching Fund Report          NaN     45087.58
2022 Gubernatorial Pre-General1 Report           NaN       275.00
2022 Gubernatorial Pre-General2 Report           NaN       200.00
2022 Gubernatorial Pre-Primary1                  NaN     18077.56
2022 Gubernatorial Pre-Primary2                  NaN      2029.44
2023 Annual                                      NaN       500.00

In [69]:
ws = xw.Book('ContributionsList (4).xls').sheets['ContributionsList (4).xls']

In [70]:
table = ws.range("A1:L379").value
table = pd.DataFrame(table, columns=table[0])
table.drop([0], inplace=True)

In [71]:
table = table.to_sql('opel_jones_d2',conn)

In [27]:
t = [0,1,3]

In [33]:
r = range(len(t))
r

range(0, 3)

In [34]:
i = [i for i in r]

In [35]:
i

[0, 1, 2]

In [36]:
ws = xw.Book('developercrossreference.xls').sheets['developercrossreference']

In [37]:
table = ws.range("A1:B369").value

In [38]:
table = pd.DataFrame(table, columns=table[0])
table.drop([0], inplace=True)

In [39]:
table = table.to_sql('developercrossreference',conn)

In [41]:
table = pd.read_sql_query('select * from developercrossreference',conn)

In [42]:
table

     index               Contributor Name Developer/Developer Affiliated
0        1   29 Susquehanna Investors LLC                            Yes
1        2  Abrams Development Grou, Inc.                            Yes
2        3                Adler, Delphine                            yes
3        4                   Adler, Steve                            Yes
4        5                    Akpan, Imoh                          maybe
..     ...                            ...                            ...
363    364                 Yocum, Richard                           None
364    365                 Yocum, Richard                           None
365    366                 Yocum, Richard                            yes
366    367                 Yuhas, Frances                             No
367    368                Yungmann, Kevin                            yes

[368 rows x 3 columns]